<mat-card appearance="outlined">
  <mat-card-content>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Job Title</mat-label>
      <input matInput placeholder="Enter the job title" />
    </mat-form-field>

    <br />

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Company</mat-label>
      <input matInput placeholder="Enter the company" />
    </mat-form-field>

    <br />

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Start Date</mat-label>
      <input matInput placeholder="Enter the start date" />
    </mat-form-field>

    <br />

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>End Date</mat-label>
      <input matInput placeholder="Enter the end date" />
    </mat-form-field>

    <br />

    <button mat-flat-button type="submit">Save</button>
  </mat-card-content>
</mat-card>
