<mat-card appearance="outlined">
  <mat-card-content>
    <div [formGroup]="workHistoryForm">
      <ng-container formArrayName="workHistoryArray">
        <ng-container
          *ngFor="let workHistory of workHistoryArray.controls; let i = index"
        >
          <ng-container [formGroupName]="i">
            <div class="form-row">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Job Title</mat-label>
                <input
                  matInput
                  placeholder="Enter the job title"
                  formControlName="jobTitle"
                />

                @if (checkError(i, "jobTitle", "required")) {
                <mat-error>Please enter a job title</mat-error>
                }
              </mat-form-field>

              <br />

              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Company</mat-label>
                <input
                  #companyInput
                  matInput
                  placeholder="Enter the company"
                  formControlName="company"
                  [matAutocomplete]="companyAuto"
                  (input)="onInputCompany(companyInput.value)"
                />

                <mat-autocomplete #companyAuto="matAutocomplete">
                  @for (option of filteredCompanies; track option) {
                  <mat-option [value]="option.name">{{
                    option.name
                  }}</mat-option>
                  }
                </mat-autocomplete>

                @if (checkError(i, "company", "required")) {
                <mat-error>Please enter a company</mat-error>
                }
              </mat-form-field>

              <br />

              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Start Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="startDatepicker"
                  formControlName="startDate"
                />

                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="startDatepicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #startDatepicker></mat-datepicker>

                @if (checkError(i, "startDate", "required")) {
                <mat-error>Please enter the start date</mat-error>
                }
              </mat-form-field>

              <br />

              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>End Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="endDatepicker"
                  formControlName="endDate"
                />

                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="endDatepicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #endDatepicker></mat-datepicker>

                @if (checkError(i, "endDate", "required")) {
                <mat-error>Please enter the end date</mat-error>
                }
              </mat-form-field>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>

      <div class="d-flex justify-content-between align-items-center">
        <button mat-flat-button matStepperPrevious>Back</button>
        <button mat-flat-button matStepperNext>Save</button>
      </div>
    </div>

    <button mat-flat-button (click)="addWorkHistory()">Add</button>
  </mat-card-content>
</mat-card>
