<mat-card appearance="outlined" class="basic-details-card">
  <mat-card-content>
    <div [formGroup]="basicDetailsForm">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter your name" formControlName="name" />
      </mat-form-field>

      <br />

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Address</mat-label>
        <input
          matInput
          placeholder="Enter your address"
          formControlName="address"
        />
      </mat-form-field>

      <br />

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Phone</mat-label>
        <input
          matInput
          placeholder="Enter your phone"
          formControlName="phone"
        />
      </mat-form-field>

      <br />

      <div class="d-flex justify-content-end align-items-center">
        <button
          mat-flat-button
          matStepperNext
          [disabled]="!basicDetailsForm.valid"
          (click)="onSubmitProgressValue()"
        >
          Save
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
