<mat-card appearance="outlined">
  <mat-card-content>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Enter your name" />
    </mat-form-field>

    <br />

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Address</mat-label>
      <input matInput placeholder="Enter your address" />
    </mat-form-field>

    <br />

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Phone</mat-label>
      <input matInput placeholder="Enter your phone" />
    </mat-form-field>

    <br />

    <button mat-flat-button type="submit">Save</button>
  </mat-card-content>
</mat-card>
