<mat-card appearance="outlined" class="profile-management-card">
  <mat-card-content>
    <div [formGroup]="skillsForm">
      <ng-container formArrayName="skillsArray">
        <ng-container *ngFor="let skill of skillsArray.controls; let i = index">
          <ng-container [formGroupName]="i">
            <mat-form-field class="profile-control" appearance="outline">
              <mat-label>Skill</mat-label>
              <input
                matInput
                placeholder="Enter the skill"
                formControlName="skill"
              />
            </mat-form-field>

            <br />
          </ng-container>
        </ng-container>
      </ng-container>

      <br />

      <div class="d-flex justify-content-between align-items-center">
        <button mat-flat-button matStepperPrevious>Back</button>
        <button mat-flat-button matStepperNext>Save</button>
      </div>
    </div>

    <!-- <button mat-flat-button>Add</button> -->

    <div style="display: flex; justify-content: center; align-items: center">
      <button mat-mini-fab (click)="addSkills()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
