<mat-card appearance="outlined" class="skills-card">
  <mat-card-content>
    <div [formGroup]="skillsForm">
      <ng-container formArrayName="skillsArray">
        <ng-container *ngFor="let skill of skillsArray.controls; let i = index">
          <ng-container [formGroupName]="i">
            <app-auto-complete
              label="Skill"
              placeHolder="Enter a skill"
              [formgroup]="skill"
              formcontrolName="skill"
              [options]="skills"
              key="name"
              [showRequiredValidatorError]="true"
              width="100%"
            >
            </app-auto-complete>
          </ng-container>
        </ng-container>
      </ng-container>

      <br />

      <div class="d-flex justify-content-between align-items-center">
        <button mat-flat-button matStepperPrevious>Back</button>
        <button mat-flat-button matStepperNext>Save</button>
      </div>
    </div>

    <div class="d-flex justify-content-center align-items-center">
      <button mat-mini-fab (click)="addSkills()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
