<mat-card appearance="outlined">
  <mat-card-content>
    <div [formGroup]="skillsForm">
      <ng-container formArrayName="skillsArray">
        <ng-container *ngFor="let skill of skillsArray.controls; let i = index">
          <ng-container [formGroupName]="i">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Skill</mat-label>
              <input
                matInput
                placeholder="Enter the skill"
                formControlName="skill"
              />
            </mat-form-field>
          </ng-container>
        </ng-container>
      </ng-container>

      <br />

      <button mat-flat-button type="submit">Save</button>
    </div>
  </mat-card-content>
</mat-card>
