<mat-card appearance="outlined" class="education-details-card">
  <mat-card-content>
    <div [formGroup]="educationDetailsForm">
      <ng-container formArrayName="educationDetailsArray">
        <ng-container
          *ngFor="
            let educationDetails of educationDetailsArray.controls;
            let i = index
          "
        >
          <ng-container [formGroupName]="i">
            <div class="form-row">
              <!---->
              <!-- <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Degree</mat-label>
                <input
                  #degreeInput
                  matInput
                  placeholder="Enter the degree"
                  formControlName="degree"
                  [matAutocomplete]="degreeAuto"
                  (input)="onInputDegree(degreeInput.value)"
                />

                <mat-autocomplete #degreeAuto="matAutocomplete">
                  @for (option of filteredDegrees; track option) {
                  <mat-option [value]="option.acronym">{{
                    option.acronym
                  }}</mat-option>
                  }
                </mat-autocomplete>

                @if (checkError(i, "degree", "required")) {
                <mat-error>Please enter a degree</mat-error>
                }
              </mat-form-field> -->

              <app-auto-complete
                label="Degree"
                placeHolder="Enter the degree"
                [formgroup]="educationDetails"
                formcontrolName="degree"
                [options]="degrees"
                key="acronym"
                [showRequiredValidatorError]="true"
                class="pr-10"
              >
              </app-auto-complete>

              <!---->

              <br />

              <!---->

              <!-- <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Institution</mat-label>
                <input
                  #institutionInput
                  matInput
                  placeholder="Enter the institution"
                  formControlName="institution"
                  [matAutocomplete]="institutionAuto"
                  (input)="onInputInstituion(institutionInput.value)"
                />

                <mat-autocomplete #institutionAuto="matAutocomplete">
                  @for (option of filteredInstitutions; track option) {
                  <mat-option [value]="option.name">{{
                    option.name
                  }}</mat-option>
                  }
                </mat-autocomplete>

                @if (checkError(i, "institution", "required")) {
                <mat-error>Please enter a institution</mat-error>
                }
              </mat-form-field> -->

              <app-auto-complete
                label="Institution"
                placeHolder="Enter the institution"
                [formgroup]="educationDetails"
                formcontrolName="institution"
                [options]="institutions"
                key="name"
                [showRequiredValidatorError]="true"
              >
              </app-auto-complete>

              <!---->
            </div>
          </ng-container>
        </ng-container>
      </ng-container>

      <div class="d-flex justify-content-between align-items-center">
        <button mat-flat-button matStepperPrevious>Back</button>
        <button
          mat-flat-button
          matStepperNext
          [disabled]="!educationDetailsForm.valid"
          (click)="onSubmitProgressValue()"
        >
          Save
        </button>
      </div>
    </div>

    <br />

    <div class="d-flex justify-content-center align-items-center">
      <button mat-mini-fab (click)="addEducationDetails()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
