<mat-card appearance="outlined" class="education-details-card">
  <mat-card-content>
    <div [formGroup]="educationDetailsForm">
      <ng-container formArrayName="educationDetailsArray">
        <ng-container
          *ngFor="
            let educationDetails of educationDetailsArray.controls;
            let i = index
          "
        >
          <ng-container [formGroupName]="i">
            <div class="form-row">
              <app-auto-complete
                label="Degree"
                placeHolder="Enter the degree"
                [formgroup]="educationDetails"
                formcontrolName="degree"
                [options]="degrees"
                key="acronym"
                [showRequiredValidatorError]="true"
                class="pr-10"
              >
              </app-auto-complete>

              <br />

              <app-auto-complete
                label="Institution"
                placeHolder="Enter the institution"
                [formgroup]="educationDetails"
                formcontrolName="institution"
                [options]="institutions"
                key="name"
                [showRequiredValidatorError]="true"
              >
              </app-auto-complete>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>

      <div class="d-flex justify-content-between align-items-center">
        <button mat-button matStepperPrevious>Back</button>
        <button
          mat-button
          matStepperNext
          [disabled]="!educationDetailsForm.valid"
          (click)="onSubmitProgressValue()"
        >
          Save
        </button>
      </div>
    </div>

    <br />

    <div class="d-flex justify-content-center align-items-center">
      <button mat-mini-fab (click)="addEducationDetails()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
