/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.width-100 {
  width: 100%;
}

.auth-card {
  width: 450px;
}

.form-row {
  display: flex;
  justify-content: start;
  align-items: center;

  mat-form-field {
    padding-right: 10px;
  }

  mat-form-field:last-child {
    padding-right: 0px;
  }
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}

.align-items-center {
  align-items: center;
}

.basic-details-card,
.skills-card {
  width: 400px;

  mat-form-field {
    width: 100%;
  }
}

.pr-10 {
  padding-right: 10px;
}
