/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.width-100 {
  width: 100%;
}

.auth-card {
  width: 450px;
}

.form-row {
  display: flex;
  justify-content: start;
  align-items: center;

  mat-form-field {
    padding-right: 10px;
  }
}

.profile-management-card {
  width: 500px;
  display: flex;
  justify-content: center;
}

.profile-control {
  width: 300px;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}
